DELTA_ENVIRONMENT=TESTNET
DELTA_TESTNET_API_KEY=
DELTA_TESTNET_API_SECRET=
ENGINE_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
WORKER_ID=delta-worker-1
TRADETRON_BRIDGE_ENABLED=false
TRADETRON_DYNAMIC_BRIDGE_ENABLED=false
TRADETRON_BASE_URL=https://api.tradetron.tech
TRADETRON_AUTH_TOKEN=
TRADETRON_TIMEOUT_MS=10000
TRADETRON_CAPITAL_USD=5000
